@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Meeting planner";

}
<h2>My planner</h2>
<p>Let's plan a meeting</p>